[run]
source = concert
omit =
    concert/devices/cameras/uca.py
    concert/devices/cameras/pco.py
    concert/ext/*.py
    concert/processes/ufo.py
    concert/tests/util/_*
    */python?.?/*
    */lib-python/?.?/*.py
    */site-packages/*
    /usr/share/pyshared/*
