[MASTER]
ignore=tests

[BASIC]

# Do not cry when private methods and functions don't have docstring
no-docstring-rgx=_[A_Za-z][A-Za-z0-9_]{2,30}$   

[MESSAGES CONTROL]

# Disable warnings "magic *, **"
disable=W0142

# Disable warnings "Anomalous backslash in string"
disable=W1401

[TYPECHECK]
# Technically quantities is not a class, but oh well ...
ignored-classes=quantities
