language: python

python:
    - "2.6"
    - "2.7"
    - "3.2"

virtualenv:
    system_site_packages: true

before_install:
    - sudo apt-get install -qq python-numpy python-scipy

install: "pip install -r requirements.txt --use-mirrors"

script: nosetests
