language: python

python:
    - "2.7"
    - "3.2"

virtualenv:
    system_site_packages: true

before_install:
    - sudo apt-get install -qq gcc gfortran python-dev libatlas-base-dev
    - sudo apt-get install -qq python-numpy python-scipy python3-numpy python3-scipy

install:
    - pip install . --use-mirrors
    - pip install -r requirements.txt --use-mirrors
    - pip install coveralls nose-exclude --use-mirrors

script:
    - python runtests.py --attr='!skip-travis' --with-coverage --cover-package=concert concert

after_success:
    - coveralls
